[run]
omit =
  buzz/whisper_cpp/*
  buzz/transcriber/local_whisper_cpp_server_transcriber.py
  *_test.py
  demucs/*
  whisper_diarization/*
  deepmultilingualpunctuation/*
  ctc_forced_aligner/*

[html]
directory = coverage/html
