dist/
__pycache__/
build/
.pytest_cache/
.coverage*
!.coveragerc
.env
.DS_Store
htmlcov/
coverage.xml
.idea/
.venv/

# whisper_cpp
libwhisper.*
libwhisper-coreml.*
whisper_cpp
whisper_cpp.exe
whisper.dll
buzz/whisper_cpp.py
buzz/whisper_cpp_coreml.py

# Internationalization - compiled binaries
*.mo
*.po~

benchmarks.json

.eggs
*.egg-info
/coverage/
/wheelhouse/
/.flatpak-builder
/repo