[submodule "whisper.cpp"]
	path = whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp
[submodule "whisper_diarization"]
	path = whisper_diarization
	url = https://github.com/MahmoudAshraf97/whisper-diarization
