dist/
__pycache__/
build/
.pytest_cache/
.coverage*
!.coveragerc
.env
htmlcov/
coverage.xml
.idea/

# whisper_cpp
libwhisper.*
whisper_cpp
whisper_cpp.exe
whisper.dll
whisper_cpp.py

# Internationalization - compiled binaries
locale/**/*.mo

benchmarks.json

.eggs
*.egg-info
