[tool.poetry]
name = "buzz"
version = "0.7.2"
description = ""
authors = ["Chidi Williams <williamschidi1@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9.13,<3.11"
sounddevice = "^0.4.5"
whisper = { git = "https://github.com/openai/whisper.git" }
torch = "1.12.1"
transformers = "~4.24.0"
appdirs = "^1.4.4"
ffmpeg-python = "^0.2.0"
humanize = "^4.4.0"
PyQt6 = "^6.4.0"
stable-ts = "^1.0.1"

[tool.poetry.group.dev.dependencies]
autopep8 = "^1.7.0"
pyinstaller = "^5.4.1"
six = "^1.16.0"
pytest = "^7.1.3"
pytest-cov = "^4.0.0"
pytest-qt = "^4.1.0"
pytest-xvfb = "^2.0.0"
pylint = "^2.15.5"
pre-commit = "^2.20.0"
ctypesgen = "^1.1.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
