[tool.poetry]
name = "buzz-captions"
version = "0.9.0"
description = ""
authors = ["Chidi Williams <williamschidi1@gmail.com>"]
license = "MIT"
readme = "README.md"
include = ["buzz/libwhisper.*", "buzz/whisper_cpp.py"]
repository = "https://github.com/chidiwilliams/buzz"
packages = [
    { include = "buzz" },
]

[tool.poetry.dependencies]
python = ">=3.9.13,<3.11"
sounddevice = "^0.4.5"
humanize = "^4.4.0"
PyQt6 = "^6.4.0"
openai = "^1.14.2"
keyring = "^25.0.0"
platformdirs = "^4.2.0"
dataclasses-json = "^0.6.4"
numpy = "^1.21.2"
requests = "^2.31.0"
yt-dlp = "2024.3.10"
stable-ts = "2.15.9"
faster-whisper = "^1.0.1"
openai-whisper = "v20231117"
transformers = "^4.39.1"

[tool.poetry.group.dev.dependencies]
autopep8 = "^1.7.0"
pyinstaller = "^6.5.0"
# Lock to 2023.11 to fix error in 2023.12:
#    AttributeError: module 'dataclasses' has no attribute '__version__'
pyinstaller-hooks-contrib = "^2024.3"
six = "^1.16.0"
pytest = "^7.1.3"
pytest-cov = "^4.0.0"
pytest-qt = "^4.1.0"
pytest-xvfb = "^2.0.0"
pytest-mock = "^3.12.0"
pylint = "^2.15.5"
pre-commit = "^2.20.0"
pytest-benchmark = "^4.0.0"
ruff = "^0.1.3"
polib = "^1.2.0"

[tool.poetry.group.build.dependencies]
ctypesgen = "^1.1.1"
cmake = "^3.26.4"

[build-system]
requires = ["poetry-core", "ctypesgen", "setuptools", "cmake"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.build]
script = "build.py"

[tool.poetry.scripts]
buzz = "buzz.buzz:main"

[tool.ruff]
exclude = [
    "**/whisper.cpp",
]
