[tool.poetry]
name = "buzz-captions"
version = "0.8.4"
description = ""
authors = ["Chidi Williams <williamschidi1@gmail.com>"]
license = "MIT"
readme = "README.md"
include = ["buzz/libwhisper.*", "buzz/whisper_cpp.py"]
repository = "https://github.com/chidiwilliams/buzz"
packages = [
    { include = "buzz" },
]

[tool.poetry.dependencies]
python = ">=3.9.13,<3.11"
sounddevice = "^0.4.5"
appdirs = "^1.4.4"
humanize = "^4.4.0"
PyQt6 = "^6.4.0"
openai = "^1.6.1"
keyring = "^24.3.0"
platformdirs = "^4.1.0"
dataclasses-json = "^0.6.3"
numpy = "^1.21.2"
requests = "^2.31.0"

# Only install on non-Linux to prevent execstack errors
stable-ts = { version = "2.14.2", markers = "sys_platform != 'linux'" }
faster-whisper = { version = "^0.10.0", markers = "sys_platform != 'linux'" }
openai-whisper = { version = "v20231117", markers = "sys_platform != 'linux'" }
transformers = { version = "^4.36.2", markers = "sys_platform != 'linux'" }

[tool.poetry.group.dev.dependencies]
autopep8 = "^1.7.0"
pyinstaller = "^5.4.1"
# Lock to 2023.11 to fix error in 2023.12:
#    AttributeError: module 'dataclasses' has no attribute '__version__'
pyinstaller-hooks-contrib = "2023.11"
six = "^1.16.0"
pytest = "^7.1.3"
pytest-cov = "^4.0.0"
pytest-qt = "^4.1.0"
pytest-xvfb = "^2.0.0"
pylint = "^2.15.5"
pre-commit = "^2.20.0"
pytest-benchmark = "^4.0.0"
ruff = "^0.1.3"

[tool.poetry.group.build.dependencies]
ctypesgen = "^1.1.1"
cmake = "^3.26.4"

[build-system]
requires = ["poetry-core", "ctypesgen", "setuptools", "cmake"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.build]
script = "build.py"

[tool.poetry.scripts]
buzz = "buzz.buzz:main"

[tool.ruff]
exclude = [
    "**/whisper.cpp",
]
