[tool.poetry]
name = "buzz-captions"
version = "0.8.4"
description = ""
authors = ["Chidi Williams <williamschidi1@gmail.com>"]
license = "MIT"
readme = "README.md"
include = ["buzz/libwhisper.*", "buzz/whisper_cpp.py"]
repository = "https://github.com/chidiwilliams/buzz"
packages = [
    { include = "buzz" },
]

[tool.poetry.dependencies]
python = ">=3.9.13,<3.11"
sounddevice = "^0.4.5"
torch = { version = "1.12.1", markers = "sys_platform != 'linux'" }
transformers = { version = "~4.24.0", markers = "sys_platform != 'linux'" }
appdirs = "^1.4.4"
humanize = "^4.4.0"
PyQt6 = "^6.4.0"
stable-ts = "1.0.2"
openai = "^0.27.1"
faster-whisper = { version = "^0.4.1", markers = "sys_platform != 'linux'" }
keyring = "^23.13.1"
openai-whisper = { version = "v20231106", markers = "sys_platform != 'linux'" }
platformdirs = "^3.5.3"
dataclasses-json = "^0.5.9"
ffmpeg-python = "0.2.0"

[tool.poetry.group.dev.dependencies]
autopep8 = "^1.7.0"
pyinstaller = "^5.4.1"
six = "^1.16.0"
pytest = "^7.1.3"
pytest-cov = "^4.0.0"
pytest-qt = "^4.1.0"
pytest-xvfb = "^2.0.0"
pylint = "^2.15.5"
pre-commit = "^2.20.0"
pytest-benchmark = "^4.0.0"
ruff = "^0.1.3"

[tool.poetry.group.build.dependencies]
ctypesgen = "^1.1.1"
cmake = "^3.26.4"

[build-system]
requires = ["poetry-core", "ctypesgen", "setuptools", "cmake"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.build]
script = "build.py"

[tool.poetry.scripts]
buzz = "buzz.buzz:main"

[tool.ruff]
exclude = [
    "**/whisper.cpp",
]
