[tool.poetry]
name = "buzz"
version = "0.8.4"
description = ""
authors = ["Chidi Williams <williamschidi1@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9.13,<3.11"
sounddevice = "^0.4.5"
torch = "1.12.1"
transformers = "~4.24.0"
appdirs = "^1.4.4"
humanize = "^4.4.0"
PyQt6 = "6.4.0"
stable-ts = "1.0.2"
openai = "^0.27.1"
faster-whisper = "^0.4.1"
keyring = "^23.13.1"
openai-whisper = "v20230124"
platformdirs = "^3.5.3"
dataclasses-json = "^0.5.9"

[tool.poetry.group.dev.dependencies]
autopep8 = "^1.7.0"
pyinstaller = "^5.4.1"
six = "^1.16.0"
pytest = "^7.1.3"
pytest-cov = "^4.0.0"
pytest-qt = "^4.1.0"
pytest-xvfb = "^2.0.0"
pylint = "^2.15.5"
pre-commit = "^2.20.0"
pytest-benchmark = "^4.0.0"
black = {extras = ["d"], version = "^23.7.0"}

[tool.poetry.group.build.dependencies]
ctypesgen = "^1.1.1"
cmake = "^3.26.4"

[build-system]
requires = ["poetry-core", "ctypesgen", "setuptools", "cmake"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.build]
generate-setup-file = true
script = "build.py"
