altgraph==0.17.2
autopep8==1.7.0
certifi==2022.9.14
charset-normalizer==2.1.1
ffmpeg-python==0.2.0
filelock==3.8.0
future==0.18.2
huggingface-hub==0.9.1
idna==3.4
macholib==1.16
more-itertools==8.14.0
numpy==1.23.3
packaging==21.3
PyAudio==0.2.12
pycodestyle==2.9.1
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyYAML==6.0
regex==2022.9.13
requests==2.28.1
scipy==1.9.1
six==1.16.0
tokenizers==0.12.1
toml==0.10.2
torch==1.12.1
tqdm==4.64.1
transformers==4.22.1
typing_extensions==4.3.0
urllib3==1.26.12
whisper==1.0
